<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Scan the QR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [style.--background]="scanActive?'#00000000':'#fff'">

  <div>
    <ion-button class="btn-fixed-bottom ion-margin" expand="block" *ngIf="!scanActive" (click)="startScan()">Start Scanning</ion-button>

  <ion-button color="danger" class="btn-fixed-bottom ion-margin" expand="block" *ngIf="scanActive" (click)="stopScan()">Stop Scanning</ion-button>
  </div>
  <div class="scan-box" [hidden]="!scanActive"></div>

  <ng-container *ngIf="result && !scanActive">
    <p class="ion-text-center" >{{result}}</p>
  </ng-container>
</ion-content>
