<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [style.--background]="scanActive?'#00000000':'#fff'">

  <ion-button *ngIf="!scanActive" (click)="startScan()">Start Scanning</ion-button>

  <ion-button *ngIf="scanActive" (click)="stopScan()">Stop Scanning</ion-button>

  <p class="ion-text-center" *ngIf="result && !scanActive">{{result}}</p>
  <div class="scan-box" [hidden]="!scanActive"></div>
</ion-content>
